<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dashboard">
    <div class="sidebar">
        <ul>
            <li><a href="/logout">🚪 Cerrar sesión</a></li>
            <li><a href="/dashboard">⌛Inicio</a></li>
            <li><a href="/registrar_paciente">👱Registrar Paciente</a></li>
            <li><a href="/visualizar_pacientes">🔍Ver Pacientes</a></li>
            <li><a href="/registrar_pago">💳 Registro de Pagos</a></li>
            <li><a href="/ver_pagos">🔍 Ver Pagos</a></li>
            <li><a href="/reporte_pagos">📊 Reporte Mensual</a></li>
            <li><a href="/registrar_profesional">🧑‍⚕️ Profesionales</a></li>
            <li><a href="/ver_profesionales">🔍Ver Profesionales</a></li>
            <li><a href="/seleccionar_paciente_ficha">📋 Ficha Clínica</a></li>
            <li><a href="{{ url_for('main.ver_ficha_clinica') }}">📋 Ver Ficha Clínica</a></li>
            <li><a href="{{ url_for('main.registrar_cita') }}">📅 Registrar Cita</a></li>
            <li><a href="{{ url_for('main.ver_citas') }}">📋 Ver Citas</a></li>
            <li><a href="{{ url_for('main.seleccionar_historial_citas') }}">🗂️ Historial de Citas</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Editar Paciente</h2>
        <form method="POST">
            <input type="text" name="rut" value="{{ paciente.rut }}" required>
            <input type="text" name="nombre" value="{{ paciente.nombre }}" required>
            <input type="date" name="fecha_nacimiento" value="{{ paciente.fecha_nacimiento }}" required>
            <input type="text" name="direccion" value="{{ paciente.direccion }}">
            <input type="text" name="comuna" value="{{ paciente.comuna }}">
            <input type="text" name="genero" value="{{ paciente.genero }}">
            <input type="text" name="prevision" value="{{ paciente.prevision }}">
            <input type="text" name="ocupacion" value="{{ paciente.ocupacion }}">
            <input type="email" name="correo" value="{{ paciente.correo }}">
            <input type="text" name="contacto" value="{{ paciente.contacto }}">
            <input type="date" name="fecha_ingreso" value="{{ paciente.fecha_ingreso }}">
            <input type="text" name="rut_apoderado" value="{{ paciente.rut_apoderado }}">
            <input type="text" name="nombre_apoderado" value="{{ paciente.nombre_apoderado }}">
            <input type="email" name="correo_apoderado" value="{{ paciente.correo_apoderado }}">
            <input type="text" name="contacto_apoderado" value="{{ paciente.contacto_apoderado }}">
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>
