<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Pago</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dashboard">
    <div class="sidebar">
        <ul>
            <li><a href="/logout">🚪 Cerrar sesión</a></li>
            <li><a href="/dashboard">⌛Inicio</a></li>
            <li><a href="/registrar_paciente">👱Registrar Paciente</a></li>
            <li><a href="/visualizar_pacientes">🔍Ver Pacientes</a></li>
            <li><a href="/registrar_pago">💳 Registro de Pagos</a></li>
            <li><a href="/ver_pagos">🔍 Ver Pagos</a></li>
            <li><a href="/reporte_pagos">📊 Reporte Mensual</a></li>
            <li><a href="/registrar_profesional">🧑‍⚕️ Profesionales</a></li>
            <li><a href="/ver_profesionales">🔍Ver Profesionales</a></li>
            <li><a href="/seleccionar_paciente_ficha">📋 Ficha Clínica</a></li>
            <li><a href="{{ url_for('main.ver_ficha_clinica') }}">📋 Ver Ficha Clínica</a></li>
            <li><a href="{{ url_for('main.registrar_cita') }}">📅 Registrar Cita</a></li>
            <li><a href="{{ url_for('main.ver_citas') }}">📋 Ver Citas</a></li>
            <li><a href="{{ url_for('main.seleccionar_historial_citas') }}">🗂️ Historial de Citas</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h2>✍️Registrar Pago</h2>
        <form method="POST" enctype="multipart/form-data">
            <label>Paciente:</label>
            <select name="paciente_id" required>
                <option value="">Seleccione un paciente</option>
                {% for p in pacientes %}
                <option value="{{ p.id }}">{{ p.nombre }}</option>
                {% endfor %}
            </select>

            <label>Tipo de pago:</label>
            <select name="tipo_pago" required>
                <option value="">Seleccione</option>
                <option value="Transferencia">Transferencia</option>
                <option value="Débito">Débito</option>
                <option value="Crédito">Crédito</option>
                <option value="Efectivo">Efectivo</option>
            </select>

            <label>Fecha de pago:</label>
            <input type="date" name="fecha_pago" required>

            <label>Respaldo (opcional):</label>
            <input type="file" name="respaldo">

            <label>Monto (CLP):</label>
            <input type="number" name="monto" placeholder="Ej: 15000" required>

            <button type="submit">Guardar</button>
            <button type="reset">Limpiar</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="error">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
